/* ===== Buttons.scss ===== */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    color: $white;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}