/* ===== Categories.scss ===== */
.categories {
    margin-top: rem(80);
}

.categories-block {
    margin-top: rem(40);
}

.categories-block {
    display: flex;
    align-items: center;
    //  justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(15);
}

.categories__link {
    border: 1px solid $blue;
    border-radius: rem(5);
    margin-right: rem(34);
    height: auto;
    padding: rem(15) 0;
    transition: all 0.2s linear;

    &:last-child {
        margin-right: 0;
    }

    a {
        padding: rem(15) rem(30);
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(23);
        color: #384685;
    }

    &:hover {
        transition: all 0.2s linear;
        background: #384685;

        a {
            color: $white;
        }

    }
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}