/* ===== Contacts.scss ===== */
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.contacts-contacts {
    width: 713px;
    height: 488px;
    background: no-repeat center url("../img/contacts_bg.jpg");
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}

.contacts-contacts-info {
    width: 100%;
    height: 100%;
    background: rgba(243, 231, 198, 0.6);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;

    padding-left: 53px;
}

.contacts-contacts-info__title {
    margin-top: 53px;
    margin-bottom: 82px;
}

.contacts-contacts-info__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    span {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        color: #1D1818;
        margin: 16px 0;

    }
}

.contacts-contacts-info__btn {
    margin-top: 41px;
    display: block;
    width: 259px;
    height: 58px;
    background: #384685;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        line-height: 58px;
        ;
    }
}

.contacts-card {}









/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}