/* ===== Footer.scss ===== */
.footer {
    width: 100%;
    margin-top: rem(71);
    background: #384685;

}

.footer-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    color: $white ;
}

.footer-info {
    flex: 1 1 28%;
    margin-top: rem(50);
    margin-right: rem(10);
}

.footer-info__logo {
    font-weight: 700;
    font-size: rem(30);
    line-height: rem(39);
    color: #FFFFFF;
    position: relative;
    margin-bottom: rem(12);

    span {
        position: absolute;
        left: 0;
        right: 0;
        width: rem(38);
        height: rem(38);
        background: #FFD60A;
        border-radius: 50%;
        z-index: 1;
    }

    .footer-info__logotitle {
        position: relative;
        z-index: 2;
        padding-left: rem(8);
    }
}

.footer-info__adress {
    display: flex;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(23);
    color: #FFFFFF;

    span {
        margin-bottom: rem(15);

        &:first-child {
            font-weight: 400;
            font-size: rem(18);
            line-height: rem(23);
        }
    }

    #time {
        padding-left: rem(26);
    }

    #adress {
        padding-left: rem(88);
    }

    #mail {
        padding-left: rem(88);
    }
}

.footer-info__inst {
    margin-top: rem(50);
    margin-bottom: rem(15);
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(28);
}

.footer-info__inst-icon {
    width: rem(123);
    height: rem(82);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.footer-info__copyright {
    font-size: rem(20);
    line-height: rem(26);
    color: #DBDBDB;
    margin-top: rem(82);
    margin-bottom: rem(25);

}

.footer-nav {
    padding-top: rem(50);
    flex: 1 1 80%;
}

.footer-nav__list {
    display: flex;
    justify-content: space-between;
}

.footer-nav__item>a {
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(26);
    color: #FFFFFF;
}

.footer-subnav__list {
    padding: rem(10) 0;

    a {
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(23);
        color: #FFFFFF;
    }
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}