/* ===== Header.scss ===== */
.header {
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: rem(20);
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-left__city {
    display: flex;
    align-items: center;
}

.header-top-left__list {
    display: flex;
    align-items: center;
    margin-left: rem(30);

    .header-top-left__item {
        margin-right: rem(38);
        transition: all 0.3s linear;

        &:last-child {
            margin-right: rem(10);
        }

        &:hover {
            a {
                color: $blue;
            }
        }
    }
}

.header-top-right {
    display: flex;
    align-items: center;
    transition: all 0.3s linear;

    a {
        margin-right: rem(56);
        transition: all 0.3s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $blue;
        }
    }


}

.header-middle {
    width: 100%;
    height: rem(93);
    display: flex;
    align-items: center;
    border-top: 1px solid #E0E0E0;
}

.header-middle-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: rem(10);
    width: rem(197);
    height: rem(40);
    overflow: hidden;
    object-fit: cover;
}

.header-middle-adress {
    width: rem(230);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(23);
        text-decoration-line: underline;
        color: #E13B3F;

        &:hover {
            color: #9e1e20;
        }
    }
}

.phone-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone-block-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: rem(10);

    a {
        font-family: $fontname;
        font-style: normal;
        font-weight: 700;
        font-size: rem(22);
        line-height: rem(28);
        color: $colortextblack;
        white-space: nowrap;
    }

    img {
        width: rem(19);
        height: rem(19);
        margin-right: rem(10);
    }
}

.phone-block-btn {
    width: rem(160);
    height: rem(35);
    border: 1px solid #E13B3F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: rem(2);
    margin-left: rem(28);

    a {
        padding: rem(6) rem(20);
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(23);
        color: #E13B3F;
        white-space: nowrap;
    }

    &:hover {
        border: rem(2) solid #E13B3F;
    }
}

.icons-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-block-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: rem(40);
    row-gap: rem(10);
    transition: all 0.3s linear;
    margin-left: rem(10);

    &:hover {
        cursor: pointer;
        color: $blue;

        svg {
            path {
                fill: $blue;
            }
        }
    }
}

.icons-block-elected {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    margin-right: rem(28);

    &:hover {
        cursor: pointer;
        color: $red;

        svg {
            path {
                fill: $red;
            }
        }
    }
}

.elected-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        width: rem(36);
        height: rem(19);
        background: #E13B3F;
        border-radius: rem(7);
        color: $white;
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(18);
        text-align: center;

    }
}

.icons-block-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(10);
    transition: all 0.3s linear;

    &:hover {
        cursor: pointer;
        color: $blue;

        svg {
            path {
                fill: $blue;
            }
        }
    }
}

.header-bottom {
    width: 100%;
    background: #A8D1E7;


}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-look {
    background: #384685;
    border-radius: 5px;
    margin-left: rem(25);
    height: rem(45);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: rem(20);
        color: $white;
        text-transform: uppercase;
        padding: rem(18) rem(22);

    }
}

/* ===== Media ===== */
@media (max-width: 1264px) {
    .header-bottom-look {}
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}