/* ===== Header.scss ===== */
.header {
    width: 100%;
}

.header-top {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 20px;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-left__city {
    display: flex;
    align-items: center;
}

.header-top-left__list {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .header-top-left__item {
        margin-right: 38px;
        transition: all 0.3s linear;

        &:last-child {
            margin-right: 10px;
        }

        &:hover {
            a {
                color: $blue;
            }
        }
    }
}

.header-top-right {
    display: flex;
    align-items: center;
    transition: all 0.3s linear;

    a {
        margin-right: 56px;
        transition: all 0.3s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $blue;
        }
    }


}

.header-middle {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    border-top: 1px solid #E0E0E0;
}

.header-middle-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-middle-adress {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-decoration-line: underline;
        color: #E13B3F;

        &:hover {
            color: #9e1e20;
        }
    }
}

.phone-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone-block-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
        font-family: $fontname;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: $colortextblack;
    }

    img {
        width: 19px;
        height: 19px;
        margin-right: 10px;
    }
}

.phone-block-btn {
    width: 160px;
    height: 35px;
    border: 1px solid #E13B3F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2px;
    margin-left: 28px;

    a {
        padding: 6px 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #E13B3F;
        white-space: nowrap;
    }

    &:hover {
        border: 2px solid #E13B3F;
    }
}

.icons-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-block-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    row-gap: 10px;
    transition: all 0.3s linear;

    &:hover {
        cursor: pointer;
        color: $blue;

        svg {
            path {
                fill: $blue;
            }
        }
    }
}

.icons-block-elected {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 28px;

    &:hover {
        cursor: pointer;
        color: $red;

        svg {
            path {
                fill: $red;
            }
        }
    }
}

.elected-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        width: 36px;
        height: 19px;
        background: #E13B3F;
        border-radius: 7px;
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;

    }
}

.icons-block-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    transition: all 0.3s linear;

    &:hover {
        cursor: pointer;
        color: $blue;

        svg {
            path {
                fill: $blue;
            }
        }
    }
}

.header-bottom {
    width: 100%;
    background: #A8D1E7;


}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-look {
    background: #384685;
    border-radius: 5px;
    margin-left: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: $white;
        text-transform: uppercase;
        padding: 18px 22px;

    }
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}