/* ===== Instagram.scss ===== */
.instagram {
    width: 100%;
    margin-top: 105px;
}

.instagram-block {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}