/* ===== Ourwork.scss ===== */
.ourwork {
    margin-top: 95px;
}

.ourwork-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ourwork__title {}

.allwork {}


/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}