/* ===== Ourwork.scss ===== */
.ourwork {
    margin-top: rem(95);
}

.ourwork-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ourwork__title {}

.allwork {}

.ourwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(488), 1fr));
    grid-auto-rows: rem(374);
    grid-auto-flow: dense;
    gap: 10px;
    border-radius: 10px;

    .image {
        width: rem(488);
        height: rem(374);
        text-align: center;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;

        &:nth-child(2n) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}