/* ===== Popular.scss ===== */
.popular {
    width: 100%;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(73);
}

.allproducts {
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(23);
    color: $blacktext;
}

.popular-card-block {
    margin-top: rem(40);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(30);
}

.popular-card-block-card-wrap {
    width: rem(357);
    height: rem(490);
    position: relative;
}

.popular-card-block-card {
    position: absolute;
    left: 0;
    top: 0;
    width: rem(357);
    height: auto;
    background: $white;
    box-shadow: rem(4) rem(4) rem(10) rem(2) rgba(0, 0, 0, 0.1);
    border-radius: rem(5);
    padding: rem(37) rem(30);


    &:hover {
        z-index: 100;

        .popular-card-block-card__colors {
            transition: all 0.2s linear;
            height: auto;
            margin-top: rem(30);

            span {
                width: rem(28);
                height: rem(28);
            }
        }

        .popular-card-block-card-sizes {
            transition: all 0.2s linear;
            height: auto;
            margin-top: rem(27);
        }
    }

}

.popular-card-block-card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    img {
        width: rem(296);
        height: rem(214);
        text-align: center;
        object-fit: cover;
        overflow: hidden;

    }
}

.popular-card-block-card__sale {
    background: #0E9F2E;
    border: 1px solid #0E9F2E;
    width: rem(63);
    height: rem(29);
    border-radius: rem(5);
    position: absolute;
    top: rem(-14);
    left: 0;
}

.popular-card-block-card__sale__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s linear;

    span {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &:hover {
        transition: all 0.2s linear;
        transform: scale(1.2);
    }
}

.sale {
    background: #E13B3F;
    border: 1px solid #E13B3F;
}

.popular-card-block-card__title {
    margin-top: rem(25);
    height: rem(40);
}



.popular-card-block-card__colors {
    overflow: hidden;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(5);
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: rem(16);
    transition: all 0.2s linear;

    span {
        display: block;
        border-radius: rem(2);
        margin-right: rem(13);
        cursor: pointer;
        transition: all 0.2s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transition: all 0.2s linear;
            transform: scale(1.1);
        }
    }

    .color1 {
        background: #2D2D2D;
    }

    .color2 {
        background: #4D511D;
    }

    .color3 {
        background: #F3E7C6;
    }
}

.popular-card-block-card__price {
    display: flex;
    margin-top: rem(12);
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: rem(17);

    .oldprice {
        padding-top: rem(5);
        font-weight: 700;
        font-size: rem(18);
        line-height: rem(23);
        text-decoration-line: line-through;
        color: #BDBDBD;
        margin-right: rem(12);
    }

    .newprice {
        font-weight: 700;
        font-size: rem(25);
        line-height: rem(32);
        color: #000000;
    }
}

.popular-card-block-card-buy {
    margin-top: rem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.popular-card-block-card__btn {
    display: block;
    width: rem(220);
    height: rem(53);
    background: $white;
    // background: #384685;
    border-radius: rem(5);
    color: $blacktext;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(26);
    transition: all 0.2s linear;
    border: 1px solid #384685;
    border-radius: rem(5);

    &:hover {
        transition: all 0.2s linear;
        background: #182560;
        color: $white;
    }
}

.popular-card-block-card__comment {
    position: relative;
    transition: all 0.3s linear;

    span {
        // display: flex;
        align-items: center;
        position: absolute;
        top: rem(-70);
        left: rem(-15);
        width: rem(176);
        height: rem(60);
        background: #FFFFFF;
        box-shadow: rem(2) rem(2) rem(5) rgba(0, 0, 0, 0.1);
        border-radius: rem(2);
        font-size: rem(14);
        line-height: rem(18);
        padding: 0 rem(18);
        color: #757575;
        white-space: nowrap;
        display: none;
        transition: all 0.3s linear;
    }

    svg {
        width: rem(34);
        height: rem(29);



    }

    &:hover {
        cursor: pointer;
        transition: all 0.3s linear;

        span {
            transition: all 0.3s linear;
            display: flex;
        }
    }
}

.popular-card-block-card-sizes {

    display: flex;
    overflow: hidden;
    height: 0px;
    transition: all 0.2s linear;

    .popular-card-block-card-sizes__text {
        font-size: rem(18);
        line-height: rem(23);
        color: #1D1818;
    }

    span {
        padding-top: rem(2);
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(21);
        color: #1D1818;
        margin-left: rem(12);

    }
}

.popular-showmore {
    margin-top: rem(37);
    width: 100%;
    height: rem(75);
    background: #F2F2F2;
    border-radius: rem(5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(23);
    color: $blacktext;
    cursor: pointer;
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}