//===== Ourwork.scss ===== */
.stok-top {
    width: 100%;
    margin-top: rem(76);
}

.stok-slider-wrap {
    width: 100%;
    position: relative;
}

.swiper {
    width: 100%;
    height: rem(510);
    cursor: grab;


}

.stok-slider {
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper-slide {
    text-align: center;
    font-size: rem(18);
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-nav {
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    background: $white;
    box-shadow: rem(2) rem(2) rem(8) rem(1) rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.right {
    right: -30px;

    .slider-next {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: rem(14);
    }
}

.left {

    left: rem(-30);

    .slider-prev {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: rem(14);
    }
}

/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}