/* ===== Drop-down inputs.scss ===== */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    position: relative;
    // margin: 85px auto 0;
}

.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.select-btn,
li {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;

    span {
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        white-space: nowrap;
        ;
    }
}

.select-btn {
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    font-family: $fontname;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: $colortextblack;
    justify-content: space-between;

    //   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    i {
        font-size: 10px;
        transition: transform 0.3s linear;
    }

}

.content {
    position: absolute;
    left: 0;
    top: 50px;
    width: 250px;
    display: none;
    padding: 10px;
    margin-top: 5px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    .search {
        position: relative;

        i {
            top: 50%;
            left: 15px;
            color: #999;
            font-size: 20px;
            pointer-events: none;
            transform: translateY(-50%);
            position: absolute;
        }

        input {
            height: 50px;
            width: 100%;
            outline: none;
            font-size: 17px;
            border-radius: 5px;
            padding: 0 20px 0 43px;
            border: 1px solid #B3B3B3;

            &:focus {
                padding-left: 42px;
                border: 2px solid #4285f4;
            }

            &::placeholder {
                color: #9e9999;
            }
        }
    }

    .options {
        margin-top: 10px;
        max-height: 250px;
        overflow-y: auto;
        padding-right: 7px;
    }
}

.wrapper.active .content {
    display: block;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}

/* ===== Drop-down input ===== */
/* .drop-down__wrapper {
    width: 105px;
    position: relative;

    padding: 0 0.1rem;

    img {
        position: absolute;
        width: 16px;
        height: 21px;
        left: 0;
        // top: 50%;
        // right: 0.3rem;
        pointer-events: none;
    }
} */









/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}