/* ===== Drop-down inputs.scss ===== */


/* ===== Drop-down input ===== */
.drop-down__wrapper {
    width: 105px;
    position: relative;

    padding: 0 0.1rem;

    img {
        position: absolute;
        width: 16px;
        height: 21px;
        left: 0;
        // top: 50%;
        // right: 0.3rem;
        pointer-events: none;
    }
}

.drop-down {
    background: transparent;
    appearance: none;
    display: block;
    border: none;
    outline: none;
    font-family: $fontname;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: $colortextblack;
    padding-right: 0.95rem;
    cursor: pointer;
    padding-left: 20px;

    option {
        margin-left: 10px;
    }


    /* ===== Скрываем стрелку в IE ===== */
    ::-ms-expand {
        display: none;
    }
}







/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}