/* ===== Drop-down inputs.scss ===== */
/* dropdown вариант1 */
.dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: rem(125);
    position: relative;

    // margin: 85px auto 0;
    img {
        margin-top: rem(-10);
    }
}

.dropdown-wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.select-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;

    span {
        padding-right: rem(5);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        white-space: nowrap;
        font-family: $fontname;
        font-style: normal;
        font-weight: 700;
        font-size: rem(18);
        line-height: rem(23);
        color: $colortextblack;
    }
}

.select-btn {
    height: 100%;
    width: 100%;
    padding: rem(7) rem(7);
    font-family: $fontname;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(23);
    color: $colortextblack;
    justify-content: space-between;

    i {
        font-size: rem(10);
        transition: transform 0.3s linear;
    }

}

.content {
    position: absolute;
    left: 0;
    top: 50px;
    width: rem(250);
    display: none;
    padding: rem(10);
    margin-top: rem(5);
    background: #fff;
    border-radius: rem(7);
    box-shadow: 0 rem(10) rem(25) rgba(0, 0, 0, 0.1);
    z-index: 100;
    cursor: pointer;

    .search {
        position: relative;

        i {
            top: 50%;
            left: rem(15);
            color: #999;
            font-size: rem(20);
            pointer-events: none;
            transform: translateY(-50%);
            position: absolute;
        }

        input {
            height: rem(50);
            width: 100%;
            outline: none;
            font-size: rem(17);
            border-radius: rem(5);
            padding: 0 rem(20) 0 rem(43);
            border: 1px solid #B3B3B3;

            &:focus {
                padding-left: rem(42);
                border: 2px solid #4285f4;
            }

            &::placeholder {
                color: #9e9999;
            }
        }
    }

    .options {
        margin-top: rem(10);
        max-height: rem(250);
        overflow-y: auto;
        padding-right: rem(7);
    }
}

.dropdown-wrapper.active .content {
    display: block;
}

.options::-webkit-scrollbar {
    width: rem(7);
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: rem(25);
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: rem(25);
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    height: rem(50);
    padding: 0 rem(10);
    font-size: rem(18);
}

.options li:hover,
li.selected {
    border-radius: rem(5);
    background: #f2f2f2;
}

/* //dropdown вариант1 */



/* ===== Media ===== */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}